<header class="header-go-back">
       <button class="botton-back"><span><a href="/">Volver</a></span></button>
</header>
    <div class="contenedor">
        <form method="POST" action="">
            <h2>Ingrese el nombre de los jugadores</h2>
            <br>
            <h3> Primer jugador</h3>
            <input type="text" placeholder="Introduzca el nombre" class="form-control my-2" id="gamer1" name="gamer1" required><br>
            <h3> Segundo jugador</h3>
            <input type="text" placeholder="Introduzca el nombre" class="form-control my-2" id="gamer2" name="gamer2" required><br>
            <h3> Tercer jugador</h3>
            <input type="text" placeholder="Introduzca el nombre" class="form-control my-2" id="gamer3" name="gamer3" required></label>
            <button class="botton" type="submit">Guardar</button>

        </form>
    </div>
        
