<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>{{tittle}}</title>
</head>
<body>
    <div class="contenedor">
        <h1>JUEGO DE DADOS</h1>
        <p>Para comenzar a jugar elija cualquiera de la siguientes opciones </p>
        <button class="botton"><span><a href="/createGame">Nuevo Juego</a></span></button>
        <button class="botton"><span>Jugar</span></button>
        <button class="botton"><span>Buscar juego por Id</span></button>
        <button class="botton"><span>Buscar ganador por Id</span></button>
    <footer>
        
    </footer>
</body>
</html>