<header>
       <button class="botton-back"><span><a href="/">Volver</a></span></button>
                           
</header>
    <div class="contenedor">
        <form method="POST" action="/game/:id/winner">
            <h2>Ingrese el ID del Juego</h2>
            <br>
            <label for="idWinner"></label>
            <input type="text" placeholder="Introduzca el Id" class="form-control my-2" id="idWinner" name="idWinner" required><br>
            <button class="botton" type="submit"><span>Buscar</span></button>

        </form>

    </div>
         
      
        
 