<header>
       <button class="botton-back"><span><a href="/">Volver</a></span></button>
                           
</header>
    
    <div class="contenedor">
        <h1>GANADOR DEL JUEGO: {{gameById.winner}}</h1>
    </div>
        
         